<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- This section type declaration is needed unless you want to set things up entirely in code -->
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>
  <!-- Complete Exceptional Settings: only applicationName is required here, if given no store we'll default to memory. -->
  <Exceptional applicationName="Samples.Console">
    <!-- This entire section is optional, if you want to log all exceptions you can off leave <IgnoreErrors> -->
    <IgnoreErrors>
      <!-- Optional: Error messages to ignore -->
      <Regexes>
        <!-- Exceptions with messages matching a regex here will not be logged -->
        <!--<add name="connection suuuuuuuucks" pattern="Request timed out\.$"/>-->
      </Regexes>
      <!-- Optional: Error types to ignore, e.g. <add type="System.Exception" /> or <add type="MyNameSpace.MyException" />-->
      <Types>
        <!-- Exceptions of the type here will not be logged, if you want to ignore an entire class of exception-->
        <!--<add type="System.Exception" />-->
      </Types>
    </IgnoreErrors>
    <!-- Which ErrorStore to use, if no element is declared here a Memory store with defaults will be used -->
    <!--<ErrorStore type="Memory" />-->
    <!-- Other store types, common attributes:
         - rollupSeconds: optional (default 600 seconds), determines how long the window is to roll up exceptions with the same stack trace - 0 to not roll up
         - backupQueueSize: optional (default 1000), determines how many errors to cache (excluding rollups) in memory when logging fails...every 2 seconds we'll retry logging and flush these out to the final store -->
    <!-- JSON: size defaults to 200, this is how many files are kept before the oldest error is removed -->
    <!--<ErrorStore type="JSON" path="~/Errors" size="200" />-->
    <!-- SQL: only a connection string is needed, many applciations can log to the same place as long as they have unique names (otherwise we can't tell them apart). -->
    <ErrorStore type="SQL" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Exceptions;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
  </Exceptional>
</configuration>